body {
    background-color: #EDDBC0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #205375;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.1), 4px 4px 12px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.calculator form input:hover {
    background-color: #235A7F;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex:1; 
    font-size: 40px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}


form input.operator {
    color: #F66B0E;
    font-weight: 500;
}